.local {
	background-color: #EDC92D;
}

.business {
	background-color: #2458A3;
}

.breaking {
	background-color: #CA221D;
}

.government {
	background-color: #44913D;
}

.item .well {
	border: none;
	border-radius: 0 0 0 0;
	color: #000;
	padding-left: 34px;
	padding-top: 3px;
	background-repeat: no-repeat;
	background-position: 3px 3px;
}

.icon-bankruptcy {
	background-image: url('../img/bankruptcy.png');
}

.icon-baseball {
	background-image: url('../img/baseball.png');
}

.icon-bell {
	background-image: url('../img/bell.png');
}

.icon-cold {
	background-image: url('../img/cold.png');
}

.icon-death {
	background-image: url('../img/death.png');
}

.icon-disaster {
	background-image: url('../img/disaster.png');
}

.icon-earnings {
	background-image: url('../img/earnings.png');
}

.icon-football {
	background-image: url('../img/football.png');
}

.icon-hotspot {
	background-image: url('../img/hotspot.png');
}

.icon-law {
	background-image: url('../img/law.png');
}

.icon-merger {
	background-image: url('../img/merger.png');
}

.icon-money {	
	background-image: url('../img/money.png');
}